@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17181f;
  color: #ffffff;
}
header {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
header h1 {
  text-align: center;
}
header form {
  width: 60vw;
  display: flex;
  flex-direction: column;
}
header form .form-container {
  width: 100%;
  margin: 2rem auto 1rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
header form .form-container input,
header form .form-container button {
  background-color: transparent;
  border: 2px solid #f977a3;
  border-radius: 25px;
  outline: none;
}
header form .form-container input {
  width: 80%;
  padding: 0.75rem 1.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 17px;
}
header form .form-container input::placeholder {
  color: #f4f4f4d8;
  font-size: 14px;
  letter-spacing: 1px;
}
header form .form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  border-left: none;
}
header form .form-container button img {
  width: 20px;
}
header .filter {
  align-self: flex-end;
}
main {
  width: 60vw;
}
main ul {
  margin: auto;
}
main ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20212c;
  padding: 0.8rem 1.75rem;
  border-radius: 50px;
  margin: 0.75rem 0;
}
main ul li .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
main ul li .left input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
main ul li .left label.completed {
  text-decoration: line-through;
}
main ul li .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main ul li .right .calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}
main ul li .right img {
  width: 25px;
  margin-right: 0.5rem;
}
main ul li .right small {
  font-size: 12px;
  letter-spacing: 1px;
  padding-right: 1rem;
}
main ul li .right .delete {
  padding-left: 1rem;
  border-left: 1px solid #f4f4f42b;
}
main ul li .right .delete img {
  cursor: pointer;
  width: 25px;
}
/*Styling SELECT and Checkbox*/

.select {
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0%;
  right: 0;
  background: #f977a3;
  cursor: pointer;
  pointer-events: none;
  height: 100%;
  padding-top: 8px;
  padding-left: 8px;
  width: 25px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-image: none;
  color: #000;
  font-family: inherit;
  cursor: pointer;
  width: 12rem;
  padding: 0.5rem 1rem;
}

input[type="checkbox"] {
  margin-right: 1rem;
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 3px solid #f977a3;
  border-radius: 10px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #20212c;
  cursor: pointer;
}
input[type="checkbox"]:checked,
input[type="checkbox"].completed {
  background-image: linear-gradient(to right, #dc56c5, #f977a3);
}

input[type="checkbox"] + label {
  position: relative;
}
input[type="checkbox"]:checked + label::before,
input[type="checkbox"].completed + label::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: white;
  position: absolute;
  left: -2.1rem;
  top: 0;
  font-weight: bold;
  font-family: inherit;
}

@media (max-width: 884px) {
  header form .form-container input {
    width: 100%;
  }
}
@media (max-width: 769px) {
  header form,
  main {
    width: 70vw;
  }
}
@media (max-width: 668px) {
  header form,
  main {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  header form,
  main {
    width: 90vw;
  }
  main ul li {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 0.8rem 1rem;
  }
  main ul li .right {
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
  }
  main ul li .right img {
    width: 20px;
  }
  main ul li .right .delete {
    padding-left: 0.25rem;
    border-left: none;
    display: flex;
  }
  main ul li .right .delete img {
    width: 20px;
    margin-right: 0;
  }
}
